@charset "UTF-8";
/* CSS Document */

.html{
overflow-x: hidden !important;	
}

.body{
overflow-x: hidden !important;
background-color: #000000;	
}

.titular{
font-family: soleil, sans-serif;
font-weight: 700;
font-style: normal;
}

.itemmenu{

font-family: soleil, sans-serif;
font-weight: 700;
font-style: normal;
}


#mainNav.navbar{
	/*background-color: #000000;
	display: none;*/
}


 #mainNav.navbar-shrink {
    background-color: #000000;
	 color: #FFFFFF;
	 display: flex;
  }

#mainNav.navbar-shrink .navbar-brand {
    color: #FFFFFF;
  }

#mainNav.navbar-shrink .nav-link {
    color: #FFFFFF;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #08e4c4;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #08e4c4;
    outline: none;
    border-bottom: 0.25rem solid #08e4c4;
  }

/*IMAGEN LANDING*/
.masthead {
  position: relative;
  max-width: 100%;
  max-height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("assets/img/bg-masthead.jpg");*/
  background: url("../imagenes/landing.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;	
}

.card-wrapper {
}

.custom-circle-image {
  width: 10vw; 
  height: 10vw;
}

.custom-circle-image img {
  object-fit: cover;
}

.card-title {
  letter-spacing: 1.1px;
   font-size: 15px;
	 color: #1bd9bc;
	
font-family: soleil, sans-serif;
font-weight: 600;
font-style: normal;
}

.card-text {
  font-size: 12px;
  line-height: initial;
	color: #FFFFFF;
font-family: ff-zwo-web-pro, sans-serif; 
font-weight: 100;
font-style: normal;
}

.about-section{
  background: url("../imagenes/fondo_offset.png");
  max-width: 100%;
  max-height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.parrafo{
font-family: ff-zwo-web-pro, sans-serif; 
font-weight: 100;
font-style: normal; 
color: white;
}

.titularblanco{
font-family: soleil, sans-serif;
font-weight: 700;
font-style: normal;
color: white;
}

.titularblancoii{
font-family: soleil, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 150%;
color: white;
}

.titularverdeii{
font-family: soleil, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 200%;
color: #15B69C;
text-align: center;	
margin: 30px;
}

.fondoverde{
background-color: rgba(8,228,196,.80);
}

.titulargris{
font-family: soleil, sans-serif;
font-weight: 700;
font-style: normal;
color: #7D7D7D;
}

.participanteimg{
height: 100%;
width: 100%;
}

.fondoblanco{
background-color: #FFFFFF;	
height: inherit;	
}

.undercover{
font-family: ff-zwo-web-pro, sans-serif; 
font-weight: 100;
font-style: normal; 
color: black;
}

.wraper {
    width: 85%;
    margin: 20px auto;
	height: auto;
	margin-top: 20px;
}

/*IMÁGENES CONGRESISTAS ISOTOPE*/
/****** Navigation styling *******/
.iso-nav {
    text-align: center;
	margin-bottom: 30px;
}
ul li:not(.ignorame) {
    list-style: none;
    margin: 0;
    /*padding: 0;*/
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #15B69C;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
	margin-top: 5px;
	
font-family: soleil, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 18px;
}

ul li:hover:not(.ignorame) {
    background: #0A7464;
    color: #fff;
	border: #0A7464;	
}

.ignorame{
}

/****** Main portfilio styling ********/

.main-iso {
    width: 100%;
	margin: 0 auto !important;
}

.main-iso .item {
    width: 280px;
    float: left;
    margin-bottom: 10px;
	text-align: center;
}

.fotosort{
 width: 260px;	
}

.activee {
    background: #15B69C;
    color: #fff;
}

/*BOTÓN QUE CAE*/
.dropbtnn {
  /*background-color: #3498DB;
  color: white;*/
  padding: 10px 15px;
  border: 1px solid #15B69C;
  cursor: pointer;

font-family: soleil, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 18px;	
}

.dropbtnn:hover, .dropbtnn:focus {
	background-color: #0A7464;
    color: #fff;
}

.dropdown {
  position: relative;
  /*display: inline-block;*/
}

.dropdown-content {
  display: none;
  /*position: absolute;
  background-color: #f1f1f1;*/
  /*overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
  padding-left: 2px;	
  /*width: inherit;*/	
}

.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  margin-top: 5px;	
  /*display: block;
  /*position: relative;*/
  /*list-style: none;*/
}

.dropdown li:hover {
	background-color: #0A7464;
    border: #0A7464;
}

.show {
	display: inline-block;
	width: inherit;
	/*text-align: left;
	position: absolute;
	width: auto;*/
}


/*BIOGRAFÍAS*/

/*Nav biografías*/
.bionav{
background-color: black;
}

.biocontainer{
margin-top: 100px;	
}

.fotocongresista{
/*display: flex;*/	
}

.fotobio{
width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;	
}

.titularverdei{
font-family: soleil, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 180%;
color: #15B69C;
text-align: left;	
}

.biosubtitulo{
font-family: soleil, sans-serif; 
font-weight: 400; 
font-style: italic; 
color: #0A7464;
font-size: 120%;	
}

.bioparrafo{
font-family: ff-zwo-web-pro, sans-serif; 
font-weight: 100;
font-style: normal; 
color: black;
font-size: 1.3vw;	
}

.biofooter{
padding-top: 30px;	
padding-bottom: 30px;
padding-left: 0px;
padding-right: 0px;
margin: 30px 0px;	
margin-bottom: 0px;	
background-color: black;
}
